<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Students</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>ID Group</th>
            <th>Term</th>
            <th>Actions</th>
        </tr>
        <% students.forEach(student => { %>
            <tr>
                <td><%= student.Id %></td>
                <td><%= student.FirstName %></td>
                <td><%= student.LastName %></td>
                <td><%= student.Id_Group %></td>
                <td><%= student.Term %></td>
                <td>
                    <a href="/students/edit/<%= student.Id %>">Edit</a>
                    <a href="/students/delete/<%= student.Id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
    <a href="/students/add">Add Student</a>
</body>
</html>